<template name="leaderboard">
  <form id="controls">
    <input type="checkbox" name="split" id="split" >
    <label for="split">Split players by type</label>
  </form>
  <section class="leaderboards">
    {{#if splitByType}}
      {{> playerList players=players.scientist}}
      {{> playerList players=players.actor}}
      {{> playerList players=players.athlete}}
    {{else}}
      {{> playerList players=players.all}}
    {{/if}}
  </section>

  <div class="details-wrapper">
    {{#if selectedPlayer}}

    <div class="details">
      <div class="name">
        <span class="">
        {{selectedPlayer.name}}
        </span>
        <span class="type">
        {{selectedPlayer.type}}
        </span>
        </div>

      <button class="inc">Add {{pointsToAdd}} points</button>
    </div>
    {{else}}
    <div class="message">Click a player to select</div>
    {{/if}}
   </div>
</template>
